html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 0 auto;
    margin-bottom: 1rem;
}

p {
    margin: 0.25rem 0 0.25rem 0 !important;
}

/* Nav Bar */

.logo-pic {
    width: 100%;
    height: 60px;
}

.navbar-brand {
    padding: 0;
}

.nav-link {
    color: white !important;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-link:hover,
.nav-link:active {
    color: #0d6efd !important;
}

.nav-button {
    position: absolute;
    right: 0%;
    margin-right: 10px;
    padding: 10px;
    text-transform: uppercase;
}

/* Hero Picture  */

.hero-picture {
    background: url('/bilder/Rendering\ Funäsdalen_LLENTAB.jpg') no-repeat no-repeat center;
    background-size: cover;
    width: 100%;
    height: 500px;
    opacity: 0.9;
}

/* News */

.news {
    padding: 3% 20% 3% 20%;
}

/* Padel */

.padel-header {
    align-items: center;
}

.playtomic-pic {
    width: 100%;
}

.playtomic-text {
    padding-left: 3rem;
}

.btn-playtomic {
    padding: 15px;
    margin-top: 1rem;
    
}

/* Contact */

.owner {
    margin-top: 1rem;
}

.owner2 {
    margin-top: 0.8rem !important;
}
.contact-info {
    margin-left: 3rem;
}

.mail {
    list-style: none;
    display: block;
    text-decoration: none;
    color: black;
}

.fa-phone,
.fa-envelope {
    color: #0d6efd;
    font-size: 18px;
}

.fa-user-tie {
    color: #0d6efd;;
    font-size: 20px;
}

.logo-contact {
    margin-top: 1rem;
    width: 250px;
    height: 250px;
}

.fa-facebook,
.fa-instagram {
    font-size: 40px;
    margin: 5px;
    color: white;
}

.fa-facebook:hover,
.fa-instagram:hover {
    color: #0d6efd;
}

/* Footer */

footer {
    flex-shrink: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 2px;
}

.contact-title {
    align-items: center;
    color: white;
    padding-top: 1rem;
}

ul {
    list-style-type: none;
    padding-right: 2rem;
}

/* Media */
@media (max-width:1000px) {
    .pic1,
    .pic3,
    .pic2,
    .pic4 {
        width: 100%;
        border-radius: 20%;
        padding: 10px 20px 10px 20px;
        margin-right: 0;
        margin-left: 0;
    }

    .padel-topic {
        margin-top: 2rem;
    }

    .contact-info {
        padding-left: 12rem;
    }

    .platsansvarig {
        margin-top: 1rem;
    }

    .nav-button {
        position: relative;
        width: 20%;
        padding: 8px;
    }
}

@media (max-width:770px) {
    .contact-info {
        padding-left: 6rem;
    }
    .logo-pic {
        height: 60px;
        width: 200px;
    }
    .hero-picture {
        height: 500px;
    }
    .nav-button {
        position: relative;
        width: 40%;
        padding: 8px;
    }
    .nav-link {
        margin-left: 20px;
    }
}

@media (max-width:500px) {
    .contact-info {
        padding-left: 2rem;
    }
    .news {
        padding: 3% 10% 3% 10%;
    }

    .hero-picture {
        height: 400px;
    }
}

@media (max-width:450px) {
    .contact-info {
        padding-left: 1rem;
    }
    .hero-picture {
        height: 300px;
    }
}
